.color {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: gray;

    @include tablet {
        width: 16px;
        height: 16px;
    }
}

.color--black {
    background-color: black;
}

.color--blue {
    background-color: #7DC3EB;
}

.color--green {
    background-color: #748C70;
}

.color--olive {
    background-color: #909225;
}

.color--navy {
    background-color: #19418e;
}

.color--pink {
    background-color: #d0a5ea;
}

.color--white {
    background-color: #fff;
    border: 1px solid #D0D0D0;
}